<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Testing" thread-count="5" >
<listeners>
<listener class-name="com.utility.Reporting"></listener>
</listeners>
<parameter name="Url" value="https://www.alibaba.com/"></parameter>
  <test thread-count="5" name="Functional Testing">
    <classes>
      <class name="com.alibabaExcel.TC_Alibaba"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->